*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fb;
    color:#333;
}

nav{
    background:#0d6efd;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:yellow;
}

header{
    text-align:center;
    background:#0d6efd;
    color:white;
    padding:60px 20px;
}

header p{
    color:white;
    margin-top:10px;
}

.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
    padding:40px;
}

.card{
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
    text-decoration:none;
    color:black;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#0d6efd;
    margin-bottom:10px;
}

.card img{
    width:100%;
    border-radius:10px;
    margin-top:15px;
}

button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#084298;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
.hero{
    text-align:center;
    padding:80px 20px;
    background:#f4f8ff;
}

.hero h1{
    font-size:48px;
    margin-bottom:10px;
    color:#222
}

.hero p{
    font-size:20px;
    color:#555;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#0077ff;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.btn:hover{
    background:#005ecc;
}
.about,
.contact{
    padding:60px 20px;
    text-align:center;
}

.about p,
.contact p{
    max-width:700px;
    margin:15px auto;
    font-size:18px;
    color:#555;
}

footer{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
.filter-buttons button {
    transition: all 0.3s ease;
}

.filter-buttons button.active {
    transform: scale(1.15);
    background: #0056d6;
    box-shadow: 0 0 12px rgba(0, 86, 214, 0.5);
}
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        width: 90%;
        margin: 10px auto;
    }

    h1 {
        font-size: 2rem;
    }

    .hero {
        padding: 40px 20px;
    }
}